.App {
  min-height: 100vh;
  text-align: center;
  background-color: #282c34;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-main {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 100vw;

  z-index: 1;
}

.App-textarea-struct,
.App-textarea-type {
  min-width: calc(1rem * 32);
  min-height: calc(1rem * 32);
  padding: 1rem;
  font-family: Menlo, monospace;
  font-size: 1rem;
  line-height: 1.5;

  text-overflow: auto;

  background: #f7f9fa;
  border-radius: 0.3125rem;
}

.App-arrow-right {
  margin: 0 1rem;
  font-size: 1rem;
}

.App-gopher {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 30rem;
  height: 15rem;
  object-fit: cover;
  object-position: 0% 0%;

  opacity: 0.05;
}
